.data-entry {
  border-bottom: 5px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.data-entry__row {
  margin-bottom: 10px;
}

.data-entry__label {
  font-size: 1.5em;
  font-weight: 300;
  margin-right: 10px;
}

.data-entry__input {
  border: none;
  border-bottom: 1px solid #bbb;
  border-radius: 0;
  font-size: 20px;
  font-weight: 300;
  height: 35px;
  line-height: 35px;
  margin: 0;
  text-align: center;
  width: 50px;
}

.data-entry__units {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 300;
  margin-left: 3px;
}

.data-entry__actions {
  margin-top: 5px;
}

.data-entry__btn {
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
}

.data-entry__btn:hover {
  background: #F8F8F8;
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

.data-entry__spacer {
  margin-right: 10px;
}
